
/* Custom Properties */

:root {
  --color-sidebar:  #2d142c;
  --color-green-button:   #008000;
  --color-text-color: #303030;

  --color-section:  hsla(0, 0%, 100%);

  --color-accent:   black; /* Fallback */

}


/* Category Colors */

.u-category-windows       { --color-accent: hsl(190, 60%, 36%); }
.u-category-menu          { --color-accent: hsl(190, 60%, 36%); }
.u-category-native-ui     { --color-accent: hsl(222, 53%, 50%); }
.u-category-communication { --color-accent: hsl(285, 47%, 46%); }
.u-category-system        { --color-accent: hsl(330, 65%, 48%); }
.u-category-media      { --color-accent: hsl( 36, 77%, 34%); }
